doctype html
html
  head
    title Pinup - lightweight persistent pinned tabs
    link(href='./options.scss', rel='stylesheet')
  body
    form.js-folder-form
      input.js-folder-name(type='text', placeholder='Enter a folder name')
      button(type='submit') 💾
    .folder-message.js-folder-message
    script(src='./options.js')
